*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .contact-section{
    background: url(../photos/contact.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100px;
    height: 10px;
    opacity: 0;
    background: #000000;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    outline: none;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }



.social-footer{

        padding: 50px 0;
        color: #f0f9ff;
        background-color: #282d32;
      
}
  
  
  .social_items {
    margin-top: 2rem;
    text-align: center;
  

}

.social_item {
    margin-top: 1.5rem;

    display: inline-block;
    gap: 1.5rem;
    align-items: center;
    
    justify-content: flex-start;
}

.social_item svg {
    width: 2rem;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color:#111;
    font-weight: bold;
    font-size: 13px;
}

a:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #981748;
    font-weight: bolder;
    font-size: 13px;
}
